section.tasks {
  background-size: 100%;
  min-height: 78vh;
  background-color: #47CEE6;
}

section.tasks article.taskGallery {
  padding: 2em 0 4em;
}

/* Below is the styling for out resource tile */
article.taskGallery div.singleTask {
  background-color: rgba(200, 200, 200, .8);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  border: 2px solid #212529;
  padding: 0 0 2em;
  height: 15em;
  position: relative;
  /* Edit and Delete buttons will be positioned absolute, so to create the boundaries for their absolute positioning, we make the outer container relative. */
}

div.singleTask h3 {
  background-color: rgb(23, 162, 184);
  padding: .5em 0;
  border-bottom: 4px solid #212529;
  color: #212529;
}

div.singleTask p {
  padding: 1em;
}

.singleTask button {
  position: absolute;
  top: .5em;
  font-size: 1.2em;
  background: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 5px;
  transition: .25s;
}

.singleTask button#editLink {
  left: .5em;
}

.singleTask button#deleteLink {
  right: .5em;
}

button#editLink:hover, button#deleteLink:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(144, 45, 20);
  border-color: rgb(144, 45, 20);
}