section.categories {
  background-size: 100vh;
  min-height: 78vh;
  background-color: rgba(17, 17, 9, .8);
}

section.categories article.categoryGallery {
  padding: 0 0 4em;
}

/* Below is the styling for out resource tile */
article.categoryGallery div.singleCategory {
  background-color: rgba(217, 215, 215, 1);
  border-radius: 15px 50px;
  margin: 0;
  text-align: center;
  border: 2px solid rgba(140, 75, 38, 1);
  padding: 0 0 2em;
  height: 20em;
  width: 20em;
  position: relative;
  /* Edit and Delete buttons will be positioned absolute, so to create the boundaries for their absolute positioning, we make the outer container relative. */
}

div.singleCategory h3 {
  background-color: rgba(115,58,9, 1);
  padding: .5em 0;
  border-bottom: 4px solid #212529;
  color: rgba(217, 215, 215, 1);
  border-radius: 15px 50px 0px 0px;
}

div.singleCategory p {
  padding: 1em;
  color: rgba(217, 215, 215, 1);
}

.singleCategory button {
  position: absolute;
  top: .75em;
  font-size: 1.2em;
  background: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 15px;
  transition: .25s;
}

.singleCategory button#editLink {
  left: .5em;
}

.singleCategory button#deleteLink {
  right: .5em;
}

.singleCategory button#taskLink {
	position: relative;
  right:    0;
  bottom:   0;
}

button#editLink:hover, button#deleteLink:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(144, 45, 20);
  border-color: rgb(144, 45, 20);
}

.Catcard {
  font-size: xx-large;
  text-align: center;
  flex: content;
  position: relative;
}