div .container {
  margin-top: 10vh;
}

.bg-image {
    height: 100vh;
    position: relative;
    color: #fff;
    background-image: url("../images/Task-BG.jpg") !important;
    background-size: cover;
}

.home {
  background-color: rgba(13, 10, 2, .8);
}