div .container {
  margin-top: 5vh;
}

.bg-image {
    height: 100vh;
    position: relative;
    color: #fff;
    background-image: url("../images/Task-BG.jpg") !important;
    background-size: cover;
}